#mapid {
    height: 1000px;
   
}  

*{
    color-scheme: dark;
    scrollbar-width: 0px;
   
}

a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}